<!DOCTYPE html>
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            :root {
                --TemplateClass-color: blue;
            }
            
            .cool {
                display: block;
                background-color: gold;
            }
        </style>
    </head>
    <body>
        <div>TODO write content</div>
        
        
    <custom-message>
        <span slot="header">header text</span>
        <span slot="message">body text stuff</span>
    </custom-message>
        <script src="custom-message.element.js"></script>
        
        <script>
            
            document.querySelector('custom-message').addEventListener('delete-clicked', ()=>{
                console.log('delete clicked')
            })
        </script>
    </body>
</html>
