<!DOCTYPE html>
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>
            :root {
                --TemplateClass-color: blue;
            }
            
            .cool {
                display: block;
                background-color: gold;
            }
        </style>
    </head>
    <body>
        <div>TODO write content</div>
        
        <template-class class="cool"></template-class>
        <script src="template-class.element.js" defer></script>
    </body>
</html>
